#header {
    background-image: url("img/fondo_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    min-height: 500px;
}

#nombre {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 50px;
}

#profesion {
    text-align: center;
    margin-top: 20px;
    color: white;
}

#nombre {
    padding-top: 60px;
    
}

#AboutMe {
    background-color: #b5b5b5;
}

#Experience {
    background-color: #b5b5b5;
}